@model Chapter4.Domain.Models.Product

@{
    ViewBag.Title = "View";   
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <h2>View</h2>
</head>

<body>
    @Model.Name
</body>
</html>