@model Chapter4.Domain.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
}

<h2>NameAndPrice</h2>

<div>
    <h4>Product</h4>
     Here you are going to see the name which is @Model.Name and the price which is £@Model.Price
     <br/>
     In Stock : <input type="checkbox" checked="@ViewBag.InStock" />

     @switch ((int)ViewBag.ProductCount)
     {
         case 0:
             @: Out of Stock
             break;
         case 1:
             <b> Very few items in stock @ViewBag.ProductCount in stock </b>
             break;
         default:
             <b> Only (@ViewBag.ProductCount) left in stock</b>
             break;

     }
</div>
<p>
  
</p>
